body {
  margin: 0;
  font-family: Arial, sans-serif, helvetica, Rubik;
  width: 100%;
}

/* HEADER */
.header {
  background-color: #f2f2f2;
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 120px;
}

.logo {
  display: flex;
  align-items: center;
  width: 12rem;
}

.logo img {
  height: 80px;
  margin-right: 10px;
}

.brand-name {
  font-family: helvetica;
  color: #333;
  text-decoration: none;
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
}

.nav a {
  font-family: helvetica;
  text-decoration: none;
  color: black;
  font-size: inherit;
  display: flex;
  align-items: center;
}

.nav button {
  font-family: helvetica;
  text-decoration: none;
  color: black;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  vertical-align: top;
}

.nav img {
  width: 20px;
}

.dropdown-toggle {
  cursor: pointer;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f2f2f2;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}

.dropdown-menu a {
  padding: 10px 20px;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  color: #ff0000;
}

.dropdown-toggle.active + .dropdown-menu {
  display: flex;
}

.icons-dropdown {
  position: relative;
  margin-left: 380px;
}

.icons-button {
  cursor: pointer;
  height: 40px;
}

.icons-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f2f2f2;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}

.icons-menu a {
  padding: 10px 20px;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

.icons-menu a:hover {
  color: #ff0000;
}

.icons-button.active + .icons-menu {
  display: flex;
}

.burger-button,
.burger-menu-dropdown {
  display: none;
}

/* Animation Keyframes */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the elements */
.logo,
.nav,
.icons-button {
  animation: slideDown 0.8s ease-out forwards;
}

/* Responsive Styles */
@media (max-width: 1440px) {
  .header {
    padding: 10px 80px;
    gap: 15px;
  }

  .nav {
    gap: 15px;
    width: 60vw;
  }

  .nav a,
  .nav button {
    font-size: 1rem;
  }

  .icons-dropdown {
    margin-left: 50px;
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 10px 40px;
    gap: 10px;
  }

  .nav {
    gap: 10px;
  }

  .nav a {
    font-size: 0.85rem;
  }

  .nav button {
    font-size: 0.85rem;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
  }
}

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    padding: 10px 20px;
    height: 26vh;
  }

  .logo,
  .icons-dropdown {
    flex: none;
    justify-content: space-between;
    margin-bottom: 10px;
    display: flex;
  }

  .nav {
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    order: 2;
  }

  .nav a,
  .nav button {
    font-family: helvetica;
    text-decoration: none;
    color: black;
    background: none;
    cursor: pointer;
    font-size: inherit;
  }

  .icons img {
    height: 18px;
  }
}

@media (max-width: 576px) {
  .header {
    align-items: center;
    padding: 10px;
    height: auto;
    justify-content: space-between;
    position: relative;
  }

  .burger-button {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ff0000;
  }

  .burger-menu-dropdown {
    display: none;
    flex-direction: column;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .burger-menu-dropdown.active {
    display: flex;
  }

  .burger-menu-dropdown a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    display: block;
  }

  .burger-menu-dropdown a:hover {
    background-color: #ddd;
  }

  .nav,
  .brand-name,
  .icons-dropdown {
    display: none;
  }
}

/* DEALERS SECTION */
.dealers-section {
  text-align: center;
  overflow: hidden;
}

.dealers-title {
  background: url("../assets/img/adobestock-314903000-scaled.jpeg") no-repeat
    center center/cover;
  height: 10vh;
  padding: 50px 0;
  color: black;
  text-justify: center;
  text-align: left;
}

.dealers-title h2 {
  font-family: Rubik;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 500;
  margin-left: 6rem;
}

.dealers-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 10rem;
  padding: 50px 0;
}

.dealer {
  text-align: center;
  margin: 0 20px;
}

.dealer h3 {
  font-family: Rubik;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.dealer-araelec {
  height: 120px;
  width: 340px;
  margin-bottom: 20px;
}

.dealer-teft {
  height: 120px;
  width: 120px;
  margin-bottom: 20px;
}

.dealer p {
  font-family: Rubik;
  font-size: 1.4375rem;
  line-height: 1.725rem;
  margin: 5px 0;
}

.dealer a {
  color: black;
  text-decoration: none;
}

.vertical-line {
  width: 1.5px;
  background-color: black;
  height: 325px;
}

/* Responsive Styles */
@media (max-width: 1440px) {
  .dealers-title h2 {
    margin-left: 4rem;
  }

  .dealers-content {
    gap: 8rem;
  }
}

@media (max-width: 1200px) {
  .dealers-title h2 {
    margin-left: 2rem;
  }

  .dealers-content {
    gap: 6rem;
  }
}

@media (max-width: 768px) {
  .dealers-title h2 {
    margin-left: 1rem;
    font-size: 1.75rem;
  }

  .dealers-content {
    gap: 4rem;
    padding: 40px 0;
  }

  .dealer-araelec {
    width: 100%;
    max-width: 300px;
  }

  .dealer-teft {
    width: 100%;
    max-width: 100px;
  }
}

@media (max-width: 576px) {
  .dealers-title {
    height: auto;
    text-align: left;
    padding: 20px 0;
  }

  .dealers-title h2 {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .dealers-content {
    flex-direction: column;
    gap: 2rem;
    padding: 20px 0;
  }

  .dealer-teft {
    width: 100px;
  }

  .dealer-araelec {
    width: 150px;
    height: 60px;
  }

  .vertical-line {
    display: none;
  }

  .dealer {
    margin: 0;
  }

  .dealer p,
  .dealer a {
    font-size: 1.125rem;
  }
}

/* FOOTER */
.footer {
  background-color: #ffffff;
  color: black;
  padding: 30px;
  text-align: center;
  height: 50vh;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12.5rem;
  width: 20rem;
  height: 50vh;
}

.footer-logo img {
  width: 150px;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10rem;
  width: 20rem;
  height: 50vh;
}

.footer-links ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  font-family: Rubik;
  font-size: 1rem;
  font-weight: 400;
  color: #ec1c24;
  text-decoration: none;
}

.linkedin-li {
  margin-top: 4rem;
}

.linkedin-li img {
  width: 60px;
}

.chelion-address-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20rem;
  height: 50vh;
}

.chelion-name {
  font-family: Rubik;
  font-size: 1rem;
  font-weight: 500;
  color: #ec1c24;
}

.chelion-address {
  font-family: Rubik;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: #979797;
}

.chelion-address-container a {
  color: #ec1c24;
  text-align: left;
}

.copyright {
  font-family: Rubik;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 20px;
}

.chelion-slogan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20rem;
  height: 50vh;
}

.chelion-slogan-container img {
  margin-top: 2.5rem;
}

.chelion-slogan-container p {
  font-family: Rubik;
  font-size: 1.375rem;
  font-weight: 500;
  color: #4f4f4f;
}

/* Responsive Styles */
@media (max-width: 1440px) {
  .footer {
    height: 70vh;
    overflow: hidden;
  }

  .footer-container {
    justify-content: space-between;
    gap: 20px;
  }

  .footer-logo,
  .footer-links,
  .chelion-address-container,
  .chelion-slogan-container {
    width: 18rem;
    height: 70vh;
  }

  .footer-logo {
    gap: 8rem;
  }

  .footer-links {
    gap: 5rem;
  }
}

@media (max-width: 1200px) {
  .footer {
    height: 70vh;
    overflow: hidden;
  }
  .footer-container {
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer-logo,
  .footer-links,
  .chelion-address-container,
  .chelion-slogan-container {
    width: 10%;
    flex-grow: 1;
    text-align: left;
    height: 70vh;
  }

  .footer-logo img {
    margin-bottom: 10px;
  }

  .footer-links ul {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    padding: 0px;
    overflow: hidden;
  }

  .footer-container {
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }

  .footer-logo,
  .footer-links {
    width: 20%;
  }

  .footer-logo img,
  .linkedin-li img {
    margin: 0 auto;
  }

  .chelion-address-container,
  .chelion-slogan-container {
    width: 20%;
    text-align: center;
  }

  .arrows {
    width: 40px;
  }
}

@media (max-width: 520px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-logo,
  .chelion-address-container,
  .chelion-slogan-container {
    width: 100%;
    height: 10%;
    text-align: left;
  }

  .footer-links {
    width: 100%;
    height: 10%;
    text-align: left;
    gap: 1rem;
  }

  .chelion-address-container {
    margin-bottom: 20px;
  }

  .footer-links ul {
    text-align: left;
  }
}
