<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>Chelion - Almacenamiento Solar</title>
    <link rel="stylesheet" href="../css/almacenamiento-solar-styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/index.html">
          <img src="../assets/img/logo-chelion-color.svg" alt="Chelion Logo" />
        </a>
        <a href="./chelion.html" class="brand-name">Chelion</a>
      </div>
      <nav class="nav">
        <button class="dropdown-toggle">Sectores</button>
        <div class="dropdown-menu">
          <a href="./almacenamiento-solar.html">Almacenamiento Solar</a>
          <a href="./comercial-industrial.html">C & I</a>
          <a href="./residencial.html">Residencial</a>
        </div>
        <a href="./ingenieria-desarrollo.html">Desarrollo e Ingeniería</a>
        <a href="./productos-pv.html">Productos PV</a>
        <a href="./contacto.html">Talento</a>
        <a href="./distribuidores.html">Pedidos</a>
        <a href="./soporte-tecnico.html">Soporte técnico</a>
        <img src="../assets/img/icons8-british-flag-48.png" alt="Language" />
      </nav>
      <div class="icons-dropdown">
        <img src="../assets/img/icons8-flag-24.png" alt="Support" class="icons-button" />
        <div class="icons-menu">
          <a href="https://chelion.com.au/">Australia</a>
          <a href="https://www.chelion.us/">EE:UU</a>
          <a href="https://www.chelion.jp/">Japón</a>
          <a href="https://www.chelion.com/en_index.html">China</a>
          <a href="https://www.chelion.gr/">Grecia</a>
        </div>
      </div>
        <button id="burgerButton" class="burger-button">☰</button>
      <div class="burger-menu-dropdown" id="burgerMenuDropdown">
        <a href="./chelion.html">Chelion</a>
        <a href="./almacenamiento-solar.html">Almacenamiento Solar</a>
        <a href="./comercial-industrial.html">C & I</a>
        <a href="./residencial.html">Residencial</a>
        <a href="./ingenieria-desarrollo.html">Desarrollo e Ingeniería</a>
        <a href="./productos-pv.html">Productos PV</a>
        <a href="./contacto.html">Talento</a>
        <a href="./distribuidores.html">Pedidos</a>
        <a href="./soporte-tecnico.html">Soporte técnico</a>
        <a href="https://chelion.com.au/">Australia</a>
        <a href="https://www.chelion.us/">EE:UU</a>
        <a href="https://www.chelion.jp/">Japón</a>
        <a href="https://www.chelion.com/en_index.html">China</a>
        <a href="https://www.chelion.gr/">Grecia</a>
      </div>
    </header>
    <main>
      <section class="hero">
        <div class="hero-container">
          <h1>SISTEMAS DE ALMACENAMIENTO UTILITY-SCALE</h1>
          <p>
            Integrador y suministrador de equipos BESS en proyectos Stand-Alone
            o hibridación para proyectos renovables.
          </p>
        </div>
      </section>
      <section class="container">
        <div class="left-side">
          <h1>Ventajas de los sistemas de almacenamiento de la energía</h1>
          <p>
            Los sistemas de almacenamiento son una pieza clave para un sistema
            eléctrico descarbonizado, basado en energías renovables, y es una de
            las bases sobre la que se está cimentando la transición energética
            mundial.
          </p>
          <a href="./contacto.html#contact">Contacta con nosotros</a>
        </div>
        <div class="right-side">
          <div class="grid-container">
            <div class="grid-item">
              <div class="item-header">
                <span class="number">1.</span>
                <span class="title">Disponibilidad</span>
              </div>
              <p>
                Energía gestionable para emplearla en el momento que sea
                necesaria.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">2.</span>
                <span class="title">Fortaleza</span>
              </div>
              <p>
                Aplana la curva de consumo, da soporte a la red eléctrica y
                energía de respaldo ante fallos o cortes de suministro y
                evitando la reactiva.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">3.</span>
                <span class="title">Integración</span>
              </div>
              <p>
                Complementa a la generación fotovoltaica y eólica cubriendo las
                horas en las que no hay luz solar o viento.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">4.</span>
                <span class="title">Flexibilidad</span>
              </div>
              <p>
                Los Sistemas de Gestión de las baterías permiten adaptarse a la
                necesidad de la instalación.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">5.</span>
                <span class="title">Sostenibilidad</span>
              </div>
              <p>
                Reducción de la huella de carbono, reduciendo el consumo
                eléctrico en grandes cantidades de potencia.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">6.</span>
                <span class="title">Eficiencia</span>
              </div>
              <p>
                La tecnología de Ion Litio es eficiente y fiable. Reduce los
                costes de mantenimiento de los equipos y el OPEX de la
                instalación.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">7.</span>
                <span class="title">Escalabilidad</span>
              </div>
              <p>
                Sistema modular, compacto y escalable, cabinas y contenedores
                estandarizados, que aportan flexibilidad ante cualquier
                necesidad de crecimiento de potencia y de energía, en cualquier
                rango de voltaje.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">8.</span>
                <span class="title">Sencillez</span>
              </div>
              <p>
                Instalación y reemplazo sencillo, seguro y ágil. Asistencia
                personalizada con equipos especializados.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="products-section">
        <div class="product-container">
          <div class="product-image-container">
            <img
              src="../assets/img/matrixup.png"
              alt="Producto"
              class="product-image"
            />
          </div>
          <div class="product-info-container">
            <div class="product-title">
              <h2>MATRIX UP SERIES</h2>
            </div>
            <div class="product-description">
              <p>
                Matrix UP es una solución pensada para pequeñas hibridaciones o
                para autoncosumo. Con la integración de PCS y baterías en el
                mismo contenedor se ofrece una solución Plug and Play.
              </p>
              <hr />
              <div class="product-features">
                <div class="feature-item">
                  <img src="../assets/img/three-way-direction.svg" alt="" />
                  <span
                    >Montaje en racks o configuración basada en
                    contenedor.</span
                  >
                </div>
                <div class="feature-item">
                  <img src="../assets/img/pulse.svg" alt="" />
                  <span>Rango de tensión flexible, hasta 1500 VDC</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/modules.svg" alt="" />
                  <span>Diseño modular con diferentes densidades.</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/ups.svg" alt="" />
                  <span
                    >La integración avanzada garantiza un rendimiento óptimo del
                    sistema y menores costes.</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-container">
          <div class="product-info-container-left">
            <div class="product-title">
              <h2>MATRIX UE SERIES</h2>
            </div>
            <div class="product-description">
              <p>
                El Matrix UE ofrece una solución para los grandes proyectos de
                hibridación y proyectos de Stand-Alone. Aportando una energía de
                3,727 MWh en tan solo un contenedor de 20 pies. Gracias a la
                refrigeración líquida del sistema es posible aumentar la
                densidad energética del mismo.
              </p>
              <hr />
              <div class="product-features">
                <div class="feature-item">
                  <img src="../assets/img/recycling.svg" alt="" />
                  <span
                    >Tecnología de refrigeración líquida con diseño antifugas de
                    tres niveles.</span
                  >
                </div>
                <div class="feature-item">
                  <img src="../assets/img/finger-snap.svg" alt="" />
                  <span
                    >Control térmico preciso de las células, lo que aumenta la
                    vida útil hasta un 23%.</span
                  >
                </div>
                <div class="feature-item">
                  <img src="../assets/img/modules.svg" alt="" />
                  <span
                    >Integrado y compatible con la instalación back-to-back.
                    Ahorra hasta un 34% de espacio en el suelo.</span
                  >
                </div>
                <div class="feature-item">
                  <img src="../assets/img/safety.svg" alt="" />
                  <span
                    >Sistema FSS, garantizando la seguridad del sistema.</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="product-image-container-right">
            <img
              src="../assets/img/contenedor.png"
              alt="Producto"
              class="product-image"
            />
          </div>
        </div>
      </section>
      <section class="download-section">
        <div class="download-container">
          <div class="red-line"></div>
          <div class="download-info">
            <h2>Descargar Catálogo</h2>
          </div>
          <a href="#" class="download-button">Catálogo Utility-Scale</a>
        </div>
      </section>
      <section class="chelion-container">
        <img
          src="../assets/img/epcchelion.jpg"
          alt="Imagen de coche blanco"
          class="chelion-image"
        />
      </section>
    </main>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <img
            class="logo-footer"
            src="../assets/img/logo-chelion-color.svg"
            alt="Logo Chelion"
          />
          <p class="copyright">© 2022 Chelion Iberia</p>
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">English</a></li>
            <li><a href="./chelion.html">Chelion</a></li>
            <li><a href="./almacenamiento-solar.html">Utility-Scale</a></li>
            <li><a href="./comercial-industrial.html">C & I</a></li>
            <li><a href="./residencial.html">Residencial</a></li>
            <li>
              <a href="./ingenieria-desarrollo.html">Desarrollo e ingenieria</a>
            </li>
            <li><a href="./contacto.html">Talento</a></li>
            <li><a href="#">Politica de privacidad</a></li>
            <li><a href="#">Politica de cookies (UE)</a></li>
            <li class="linkedin-li">
              <a href="https://www.linkedin.com/"
                ><img src="../assets/img/icons-linkedin-30.png" alt="linkedin"
              /></a>
            </li>
          </ul>
        </div>
        <div class="chelion-address-container">
          <p class="chelion-name">Chelion Iberia</p>
          <p class="chelion-address">
            C/José Echegaray 8, Ed 3. P11<br />Oficinas 8-9<br />28232 Las
            Rozas, Madrid (España)
          </p>
          <a href="mailto:info@chelion.eu">info@chelion.eu</a>
        </div>
        <div class="chelion-slogan-container">
          <div class="arrows-container">
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
          </div>
          <p>IT´S CHELION IT´S BESS</p>
        </div>
      </div>
    </footer>
    <!-- Dropdown menú -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const dropdownToggle = document.querySelector(".dropdown-toggle");
        const dropdownMenu = document.querySelector(".dropdown-menu");
        const navLinks = document.querySelectorAll(".nav a");

        dropdownToggle.addEventListener("click", function (e) {
          e.preventDefault();
          dropdownToggle.classList.toggle("active");
        });

        navLinks.forEach((link) => {
          link.addEventListener("click", function () {
            dropdownToggle.classList.remove("active");
          });
        });

        document.addEventListener("click", function (e) {
          if (
            !dropdownToggle.contains(e.target) &&
            !dropdownMenu.contains(e.target)
          ) {
            dropdownToggle.classList.remove("active");
          }
        });
      });
    </script>

    <!-- Dropdown menú flag -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const iconsButton = document.querySelector(".icons-button");
        const iconsMenu = document.querySelector(".icons-menu");

        iconsButton.addEventListener("click", function (e) {
          e.preventDefault();
          iconsButton.classList.toggle("active");
        });

        document.addEventListener("click", function (e) {
          if (
            !iconsButton.contains(e.target) &&
            !iconsMenu.contains(e.target)
          ) {
            iconsButton.classList.remove("active");
          }
        });
      });
    </script>
    
    <!-- Burger menú -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const burgerButton = document.getElementById("burgerButton");
        const burgerMenuDropdown =
          document.getElementById("burgerMenuDropdown");

        burgerButton.addEventListener("click", function (e) {
          e.preventDefault();
          burgerMenuDropdown.classList.toggle("active"); // Toggle the 'active' class
        });

        const burgerMenuLinks = document.querySelectorAll(
          ".burger-menu-dropdown a"
        );

        burgerMenuLinks.forEach((link) => {
          link.addEventListener("click", function () {
            burgerMenuDropdown.classList.remove("active");
          });
        });

        document.addEventListener("click", function (e) {
          if (
            !burgerButton.contains(e.target) &&
            !burgerMenuDropdown.contains(e.target)
          ) {
            burgerMenuDropdown.classList.remove("active");
          }
        });
      });
    </script>
    <!-- Header animation -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const logo = document.querySelector(".logo");
        const nav = document.querySelector(".nav");

        logo.style.animationDelay = "0.2s";
        nav.style.animationDelay = "0.2s";
      });
    </script>

    <!-- Info animation -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const gridItems = document.querySelectorAll(".grid-item");

        function handleScroll() {
          gridItems.forEach((item) => {
            const itemPosition = item.getBoundingClientRect().top;
            const screenPosition = window.innerHeight / 1.3;

            if (itemPosition < screenPosition) {
              item.style.transition =
                "transform 1s ease-out, opacity 1s ease-out";
              item.style.transform = "translateX(0)";
              item.style.opacity = "1";
            } else {
              item.style.transition =
                "transform 1s ease-out, opacity 1s ease-out";
              item.style.transform = "translateX(100%)";
              item.style.opacity = "0";
            }
          });
        }

        window.addEventListener("scroll", handleScroll);
        handleScroll();
      });
    </script>

    <!-- Products grid animation -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const leftImages = document.querySelectorAll(
          ".product-image-container"
        );
        const rightImages = document.querySelectorAll(
          ".product-image-container-right"
        );

        function handleScroll() {
          leftImages.forEach((container) => {
            const itemPosition = container.getBoundingClientRect().top;
            const screenPosition = window.innerHeight / 1.3;

            if (itemPosition < screenPosition) {
              container.style.transition =
                "transform 1s ease-out, opacity 1s ease-out";
              container.style.transform = "translateX(0)";
              container.style.opacity = "1";
            } else {
              container.style.transition =
                "transform 1s ease-out, opacity 1s ease-out";
              container.style.transform = "translateX(-100%)";
              container.style.opacity = "0";
            }
          });

          rightImages.forEach((container) => {
            const itemPosition = container.getBoundingClientRect().top;
            const screenPosition = window.innerHeight / 1.3;

            if (itemPosition < screenPosition) {
              container.style.transition =
                "transform 1s ease-out, opacity 1s ease-out";
              container.style.transform = "translateX(0)";
              container.style.opacity = "1";
            } else {
              container.style.transition =
                "transform 1s ease-out, opacity 1s ease-out";
              container.style.transform = "translateX(100%)";
              container.style.opacity = "0";
            }
          });
        }

        window.addEventListener("scroll", handleScroll);
        handleScroll();
      });
    </script>

    <!-- Download catalogue -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const downloadButton = document.querySelector(".download-button");

        downloadButton.addEventListener("click", function () {
          const link = document.createElement("a");
          link.href = "../utils/utiliti-scale.pdf"; // Adjust the path if necessary
          link.download = "utility-scale.pdf";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        });
      });
    </script>
  </body>
</html>
