<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>Chelion - Chelion</title>
    <link rel="stylesheet" href="../css/chelion-styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/index.html">
          <img src="../assets/img/logo-chelion-color.svg" alt="Chelion Logo" />
        </a>
        <a href="./chelion.html" class="brand-name">Chelion</a>
      </div>
      <nav class="nav">
        <button class="dropdown-toggle">Sectores</button>
        <div class="dropdown-menu">
          <a href="./almacenamiento-solar.html">Almacenamiento Solar</a>
          <a href="./comercial-industrial.html">C & I</a>
          <a href="./residencial.html">Residencial</a>
        </div>
        <a href="./ingenieria-desarrollo.html">Desarrollo e Ingeniería</a>
        <a href="./productos-pv.html">Productos PV</a>
        <a href="./contacto.html">Talento</a>
        <a href="./distribuidores.html">Pedidos</a>
        <a href="./soporte-tecnico.html">Soporte técnico</a>
        <img src="../assets/img/icons8-british-flag-48.png" alt="Language" />
      </nav>
      <div class="icons-dropdown">
        <img src="../assets/img/icons8-flag-24.png" alt="Support" class="icons-button" />
        <div class="icons-menu">
          <a href="https://chelion.com.au/">Australia</a>
          <a href="https://www.chelion.us/">EE:UU</a>
          <a href="https://www.chelion.jp/">Japón</a>
          <a href="https://www.chelion.com/en_index.html">China</a>
          <a href="https://www.chelion.gr/">Grecia</a>
        </div>
      </div>
      <button id="burgerButton" class="burger-button">☰</button>
      <div class="burger-menu-dropdown" id="burgerMenuDropdown">
        <a href="./chelion.html">Chelion</a>
        <a href="./almacenamiento-solar.html">Almacenamiento Solar</a>
        <a href="./comercial-industrial.html">C & I</a>
        <a href="./residencial.html">Residencial</a>
        <a href="./ingenieria-desarrollo.html">Desarrollo e Ingeniería</a>
        <a href="./productos-pv.html">Productos PV</a>
        <a href="./contacto.html">Talento</a>
        <a href="./distribuidores.html">Pedidos</a>
        <a href="./soporte-tecnico.html">Soporte técnico</a>
        <a href="https://chelion.com.au/">Australia</a>
        <a href="https://www.chelion.us/">EE:UU</a>
        <a href="https://www.chelion.jp/">Japón</a>
        <a href="https://www.chelion.com/en_index.html">China</a>
        <a href="https://www.chelion.gr/">Grecia</a>
      </div>
    </header>
    <main>
      <section class="section-chelion-renewables">
        <div class="chelion-info-container">
          <div class="main-title-container">
            <h1 class="chelion-info-main-title">CHELION RENEWABLES GROUP</h1>
            <p class="chelion-info-subtitle">
              Modelos adaptados de almacenamiento de energía por todo el mundo.
            </p>
          </div>
          <div class="content-container">
            <h2 class="chelion-info-section-title">CHELION RENEWABLES GROUP</h2>
            <p class="chelion-info-section-text">
              Chelion Renewables Group, proveedor de referencia en productos,
              servicios e IPP en el ámbito del almacenamiento de energía en
              baterías con sede en Europa, Asia, Australia y EE.UU.
              <br /><br />
              En los próximos años, los países desarrollados tienen como
              objetivo principal alcanzar las cero emisiones, asumiendo como
              reto el cumplimiento de los objetivos del acuerdo de París. Con
              esta finalidad, el almacenamiento adquiere un protagonismo
              fundamental a la hora de ayudar a las empresas, generando energía,
              almacenándola y gestionándola con mayor eficiencia. Chelion está
              comprometido con los Objetivos de Desarrollo Sostenible de las
              Naciones Unidas y tiene como uno de sus pilares fundamentales la
              descarbonización del planeta, así como trabajar por un futuro
              sostenible.
              <br /><br />
              Chelion está formado por profesionales con un alto conocimiento y
              experiencia en el sector de las energías renovables, con
              experiencia contrastada en proyectos de construcción y desarrollos
              por todo el mundo.
            </p>
          </div>
          <div class="content-container">
            <h2 class="chelion-info-section-title">CHELION IBERIA</h2>
            <p class="chelion-info-section-text">
              Chelion Iberia centra su actividad en Europa.
              <br /><br />
              Chelion Iberia está formada por una plantilla de más de 30
              profesionales con amplia experiencia en el sector. Además cuenta
              con alianzas en Turquía y Macedonia.
              <br /><br />
              Ofrece sistemas de almacenamiento de última generación:
              Hibridación y Stand-Alone, con software BMS y EMS propios. Cuenta
              con un departamento de ingeniería interno que le permite adaptarse
              a cada necesidad independientemente de la fase del proyecto en el
              que se encuentre el cliente. Especializada en proyectos EPC para
              C&I, Utility-Scale y RESS con suministro de producto a través del
              canal de distribución. Servicio de Asistencia Técnica (SAT) propio
              en todo el territorio nacional y un Área de formación específica
              para clientes, para dar cobertura en baterías, inversores y
              cargadores. Software de Gestión propio (EMS).
              <br /><br />
              Chelion Iberia opera bajo los criterios de Sostenibilidad
              establecidos por la Asamblea General de Naciones Unidas,
              manteniendo en todos sus proyectos los 17 objetivos de la
              asamblea.
              <br /><br />
              Los proyectos y las operaciones de la Compañía tienen como pilar
              fundamental la metodología de la Dirección y Gestión de Proyectos,
              para asegurar que todas las fases del Proyecto cuentan con los
              principios y dominios necesarios para conducirlo correctamente,
              costes y recursos, gestión del tiempo, alcances y calidad,
              expectativas, satisfacción.
            </p>
          </div>
          <div class="logo-container">
            <img
              src="../assets/img/microsoftteams-image-1.png"
              alt="Objetivos de Desarrollo Sostenible y Project Management Institute"
              class="logo-img-desarrollo"
            />
            <img
              src="../assets/img/1572310531543.png"
              alt="Objetivos de Desarrollo Sostenible y Project Management Institute"
              class="logo-img-pm"
            />
          </div>
        </div>
      </section>
      <section class="section-presence">
        <div class="presence-container">
          <div class="presence-text-container">
            <h2 class="presence-title">Presencia en 4 continentes
          </br> 
          Total Megavatios: 3,5 GWn en desarrollo
            </h2>          
              </div>
        </div>
      </section>
      <section class="contact-container">
        <div class="contact-section">
            <div class="contact-info-container">
                <h2>Contacto</h2>
                <p>Rellena el formulario o escríbenos a info@Chelion.eu</p>
            </div>
           <div class="main-form-container">
            <div class="contact-form-container">
              <h2>Contacto</h2>
              <form class="contact-form">
                <div class="input-group">
                  <input type="text" name="name" placeholder="Nombre" />
                  <input type="text" name="surname" placeholder="Apellidos" />
                </div>
                <div class="input-group">
                  <input type="email" name="email" placeholder="Email" />
                  <input type="text" name="company" placeholder="Empresa" />
                </div>
                <div class="input-group">
                  <textarea name="message" placeholder="Mensaje"></textarea>
                </div>
                <div class="submit-button-container">
                  <button class="submit-button" type="submit">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <img
            class="logo-footer"
            src="../assets/img/logo-chelion-color.svg"
            alt="Logo Chelion"
          />
          <p class="copyright">© 2022 Chelion Iberia</p>
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">English</a></li>
            <li><a href="./chelion.html">Chelion</a></li>
            <li><a href="./almacenamiento-solar.html">Utility-Scale</a></li>
            <li><a href="./comercial-industrial.html">C & I</a></li>
            <li><a href="./residencial.html">Residencial</a></li>
            <li><a href="./ingenieria-desarrollo.html">Desarrollo e ingenieria</a></li>
            <li><a href="./contacto.html">Talento</a></li>
            <li><a href="#">Politica de privacidad</a></li>
            <li><a href="#">Politica de cookies (UE)</a></li>
            <li class="linkedin-li">
              <a href="https://www.linkedin.com/"
                ><img src="../assets/img/icons-linkedin-30.png" alt="linkedin"
              /></a>
            </li>
          </ul>
        </div>
        <div class="chelion-address-container">
          <p class="chelion-name">Chelion Iberia</p>
          <p class="chelion-address">
            C/José Echegaray 8, Ed 3. P11<br />Oficinas 8-9<br />28232 Las
            Rozas, Madrid (España)
          </p>
          <a href="mailto:info@chelion.eu">info@chelion.eu</a>
        </div>
        <div class="chelion-slogan-container">
          <div class="arrows-container">
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
          </div>          
          <p>IT´S CHELION IT´S BESS</p>
        </div>
      </div>
    </footer>
    <!-- Dropdown menú -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const dropdownToggle = document.querySelector(".dropdown-toggle");
        const dropdownMenu = document.querySelector(".dropdown-menu");
        const navLinks = document.querySelectorAll(".nav a");

        dropdownToggle.addEventListener("click", function (e) {
          e.preventDefault();
          dropdownToggle.classList.toggle("active");
        });

        navLinks.forEach((link) => {
          link.addEventListener("click", function () {
            dropdownToggle.classList.remove("active");
          });
        });

        document.addEventListener("click", function (e) {
          if (
            !dropdownToggle.contains(e.target) &&
            !dropdownMenu.contains(e.target)
          ) {
            dropdownToggle.classList.remove("active");
          }
        });
      });
    </script>

    <!-- Dropdown menú flag -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const iconsButton = document.querySelector(".icons-button");
        const iconsMenu = document.querySelector(".icons-menu");

        iconsButton.addEventListener("click", function (e) {
          e.preventDefault();
          iconsButton.classList.toggle("active");
        });

        document.addEventListener("click", function (e) {
          if (
            !iconsButton.contains(e.target) &&
            !iconsMenu.contains(e.target)
          ) {
            iconsButton.classList.remove("active");
          }
        });
      });
    </script>

    <!-- Burger menú -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const burgerButton = document.getElementById("burgerButton");
        const burgerMenuDropdown =
          document.getElementById("burgerMenuDropdown");

        burgerButton.addEventListener("click", function (e) {
          e.preventDefault();
          burgerMenuDropdown.classList.toggle("active"); // Toggle the 'active' class
        });

        const burgerMenuLinks = document.querySelectorAll(
          ".burger-menu-dropdown a"
        );

        burgerMenuLinks.forEach((link) => {
          link.addEventListener("click", function () {
            burgerMenuDropdown.classList.remove("active");
          });
        });

        document.addEventListener("click", function (e) {
          if (
            !burgerButton.contains(e.target) &&
            !burgerMenuDropdown.contains(e.target)
          ) {
            burgerMenuDropdown.classList.remove("active");
          }
        });
      });
    </script>

    <!-- Header animation -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const logo = document.querySelector(".logo");
        const nav = document.querySelector(".nav");

        logo.style.animationDelay = "0.2s";
        nav.style.animationDelay = "0.2s";
      });
    </script>

<!-- Presence animation -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sectionPresence = document.querySelector(".section-presence");

    function handleScroll() {
      const sectionRect = sectionPresence.getBoundingClientRect();
      const screenPosition = window.innerHeight;      
      const percentVisible = Math.max(0, Math.min(1, (screenPosition - sectionRect.top) / screenPosition));
      const scale = 1 + 0.1 * percentVisible;
           
      sectionPresence.style.backgroundSize = `${scale * 100}%`;
    }
    window.addEventListener("scroll", handleScroll);
   
    handleScroll();
  });
</script>

<!-- Form handler -->
<script src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script>
  (function() {
    // Initialize EmailJS
    emailjs.init("YOUR_USER_ID");

    document.getElementById("contactForm").addEventListener("submit", function(event) {
      event.preventDefault();

      // Capture form data
      const name = event.target.name.value;
      const email = event.target.email.value;
      const company = event.target.company.value;
      const message = event.target.message.value;

      // Define email parameters
      const templateParams = {
        from_name: name,
        from_email: email,
        company: company,
        message: message,
        to_email: "ivanjtrejoc@gmail.com"
      };

      // Send email using EmailJS
      emailjs.send("YOUR_SERVICE_ID", "YOUR_TEMPLATE_ID", templateParams)
        .then(function(response) {
          console.log("SUCCESS!", response.status, response.text);
          alert("Email enviado exitosamente!");
        }, function(error) {
          console.log("FAILED...", error);
          alert("Error al enviar el email. Por favor, inténtalo de nuevo.");
        });
    });
  })();
</script>
  </body>
</html>
