<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>C-I - Chelion</title>
    <link rel="stylesheet" href="../css/comercial-industrial-styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/index.html">
          <img src="../assets/img/logo-chelion-color.svg" alt="Chelion Logo" />
        </a>
        <a href="./chelion.html" class="brand-name">Chelion</a>
      </div>
      <nav class="nav">
        <button class="dropdown-toggle">Sectores</button>
        <div class="dropdown-menu">
          <a href="./almacenamiento-solar.html">Almacenamiento Solar</a>
          <a href="./comercial-industrial.html">C & I</a>
          <a href="./residencial.html">Residencial</a>
        </div>
        <a href="./ingenieria-desarrollo.html">Desarrollo e Ingeniería</a>
        <a href="./productos-pv.html">Productos PV</a>
        <a href="./contacto.html">Talento</a>
        <a href="./distribuidores.html">Pedidos</a>
        <a href="./soporte-tecnico.html">Soporte técnico</a>
        <img src="../assets/img/icons8-british-flag-48.png" alt="Language" />
      </nav>
      <div class="icons-dropdown">
        <img
          src="../assets/img/icons8-flag-24.png"
          alt="Support"
          class="icons-button"
        />
        <div class="icons-menu">
          <a href="https://chelion.com.au/">Australia</a>
          <a href="https://www.chelion.us/">EE:UU</a>
          <a href="https://www.chelion.jp/">Japón</a>
          <a href="https://www.chelion.com/en_index.html">China</a>
          <a href="https://www.chelion.gr/">Grecia</a>
        </div>
      </div>
      <button id="burgerButton" class="burger-button">☰</button>
      <div class="burger-menu-dropdown" id="burgerMenuDropdown">
        <a href="./chelion.html">Chelion</a>
        <a href="./almacenamiento-solar.html">Almacenamiento Solar</a>
        <a href="./comercial-industrial.html">C & I</a>
        <a href="./residencial.html">Residencial</a>
        <a href="./ingenieria-desarrollo.html">Desarrollo e Ingeniería</a>
        <a href="./productos-pv.html">Productos PV</a>
        <a href="./contacto.html">Talento</a>
        <a href="./distribuidores.html">Pedidos</a>
        <a href="./soporte-tecnico.html">Soporte técnico</a>
        <a href="https://chelion.com.au/">Australia</a>
        <a href="https://www.chelion.us/">EE:UU</a>
        <a href="https://www.chelion.jp/">Japón</a>
        <a href="https://www.chelion.com/en_index.html">China</a>
        <a href="https://www.chelion.gr/">Grecia</a>
      </div>
    </header>
    <main>
      <section class="hero">
        <div class="hero-container">
          <h1>
            BESS. TECNOLOGÍA APLICADA AL ALMACENAMIENTO Y GESTIÓN DE LA ENERGÍA
          </h1>
          <p>Soluciones BESS escalables y flexibles.</p>
        </div>
      </section>
      <section class="solutions-container">
        <div class="solutions-section">
          <h2 class="solutions-title">
            Soluciones de almacenamiento de energía para multitud de sectores.
          </h2>
          <p class="solutions-text">
            A medida que las empresas se enfrentan a costes de energía cada vez
            mayores, los sistemas de almacenamiento de energía con baterías
            ofrecen una solución sostenible y asequible para una mejor gestión y
            uso de la electricidad y reducir los gastos operativos. Además de
            disminuir los costes de energía, el almacenamiento de energía
            también puede ayudar a las empresas a limitar sus emisiones de
            carbono y contribuir a un medio ambiente más limpio y sostenible.
            <br />
            <br />
            Los sistemas de almacenamiento de energía se pueden utilizar para
            almacenar el exceso de energía generada a partir de paneles solares
            o para proporcionar energía de respaldo durante interrupciones de la
            red o situaciones de emergencia. Hay gran variedad de sistemas de
            almacenamiento de energía disponibles y la solución adecuada para
            cada proyecto dependerá de una serie de factores, que tienen en
            cuenta sus necesidades y objetivos.
          </p>
        </div>
        <h2 class="industries-title">Industrias</h2>
        <p class="industries-description">
          Dependiendo de las necesidades del proyecto, Chelion proporciona
          soluciones de almacenamiento de energía a medida.
        </p>
        <div class="industries-section">
          <div class="industries-slider">
            <div class="industry-card">
              <img
                src="../assets/img/adobestock-314903000-scaled.jpeg"
                alt="Comercial"
              />
              <p class="industry-label">Comercial</p>
            </div>
            <div class="industry-card">
              <img
                src="../assets/img/solarpowerstation-smaller-scaled.jpg"
                alt="Transporte y Logística"
              />
              <p class="industry-label">Transporte y Logística</p>
            </div>
            <div class="industry-card">
              <img
                src="../assets/img/industria-educativa.jpeg"
                alt="Educación"
              />
              <p class="industry-label">Educación</p>
            </div>
            <div class="industry-card">
              <img
                id="retail"
                src="../assets/img/industria-comercial.jpeg"
                alt="Retail"
              />
              <p class="industry-label">Retail</p>
            </div>
            <div class="industry-card">
              <img
                src="../assets/img/industria-salud.jpeg"
                alt="Transporte y Logística"
              />
              <p class="industry-label">Salud</p>
            </div>
            <div class="industry-card">
              <img
                src="../assets/img/contacto-backgroundimage.jpg"
                alt="Transporte y Logística"
              />
              <p class="industry-label">Restauración</p>
            </div>
            <div class="industry-card">
              <img
                src="../assets/img/coche-electrico.jpg"
                alt="Transporte y Logística"
              />
              <p class="industry-label">Movilidad Eléctrica</p>
            </div>
            <div class="industry-card">
              <img
                src="../assets/img/cta-contacto.jpg"
                alt="Transporte y Logística"
              />
              <p class="industry-label">Industrial</p>
            </div>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="left-side">
          <h1>Ventajas de los sistemas de almacenamiento de la energía</h1>
          <p>
            Los sistemas de almacenamiento son una pieza clave para un sistema
            eléctrico descarbonizado, basado en energías renovables, y es una de
            las bases sobre la que se está cimentando la transición energética
            mundial.
          </p>
          <a href="./contacto.html#contact">Contacta con nosotros</a>
        </div>
        <div class="right-side">
          <div class="grid-container">
            <div class="grid-item">
              <div class="item-header">
                <span class="number">1.</span>
                <span class="title">Disponibilidad</span>
              </div>
              <p>
                Energía gestionable para emplearla en el momento que sea
                necesaria.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">2.</span>
                <span class="title">Fortaleza</span>
              </div>
              <p>
                Aplana la curva de consumo, da soporte a la red eléctrica y
                energía de respaldo ante fallos o cortes de suministro y
                evitando la reactiva.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">3.</span>
                <span class="title">Integración</span>
              </div>
              <p>
                Complementa a la generación fotovoltaica y eólica cubriendo las
                horas en las que no hay luz solar o viento.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">4.</span>
                <span class="title">Flexibilidad</span>
              </div>
              <p>
                Los Sistemas de Gestión de las baterías permiten adaptarse a la
                necesidad de la instalación.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">5.</span>
                <span class="title">Sostenibilidad</span>
              </div>
              <p>
                Reducción de la huella de carbono, reduciendo el consumo
                eléctrico en grandes cantidades de potencia.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">6.</span>
                <span class="title">Eficiencia</span>
              </div>
              <p>
                La tecnología de Ion Litio es eficiente y fiable. Reduce los
                costes de mantenimiento de los equipos y el OPEX de la
                instalación.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">7.</span>
                <span class="title">Escalabilidad</span>
              </div>
              <p>
                Sistema modular, compacto y escalable, cabinas y contenedores
                estandarizados, que aportan flexibilidad ante cualquier
                necesidad de crecimiento de potencia y de energía, en cualquier
                rango de voltaje.
              </p>
            </div>
            <div class="grid-item">
              <div class="item-header">
                <span class="number">8.</span>
                <span class="title">Sencillez</span>
              </div>
              <p>
                Instalación y reemplazo sencillo, seguro y ágil. Asistencia
                personalizada con equipos especializados.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="products-section">
        <div class="product-container">
          <div class="product-info-container-left">
            <div class="product-title">
              <h2>MATRIX CAIO SERIES</h2>
            </div>
            <div class="product-description">
              <p>
                Producto All in One, Outdoor y con sistemas de refigeración y
                antiincendios integrados. Matrix CAIO es el producto más
                adecuado para soluciones industriales.
              </p>
              <hr />
              <div class="product-features">
                <div class="feature-item">
                  <img src="../assets/img/finger-snap.svg" alt="" />
                  <span>Fácil instalación</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/recycling.svg" alt="" />
                  <span>Mayor duración</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/metrics.svg" alt="" />
                  <span>Diseño All In One con ESS integrado</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/three-way-direction.svg" alt="" />
                  <span>Estructura BMS de tres niveles</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/ups.svg" alt="" />
                  <span>Convertidor CC/CC.</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/safety.svg" alt="" />
                  <span>Servicio de asistencia técnica</span>
                </div>
              </div>
            </div>
          </div>
          <div class="product-image-container-right">
            <img
              src="../assets/img/matrixcaio.png"
              alt="Producto"
              class="product-image"
            />
          </div>
        </div>
        <div class="product-container">
          <div class="product-image-container">
            <img
              src="../assets/img/matrixca.png"
              alt="Producto"
              class="product-image"
            />
          </div>
          <div class="product-info-container">
            <div class="product-title">
              <h2>MATRIX CA SERIES</h2>
            </div>
            <div class="product-description">
              <p>
                Se integran en un armario 4 string de baterías, 2 conjuntos de
                HVAC y un conjunto de FPS, para formar el MATRIX CA. Esta
                solución de 532,4 kWh, es ampliable hasta conseguir mayor
                capacidad para el mercado comercial e industrial.
              </p>
              <hr />
              <div class="product-features">
                <div class="feature-item">
                  <img src="../assets/img/three-way-direction.svg" alt="" />
                  <span>Sencilla puesta en marcha</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/pulse.svg" alt="" />
                  <span>Diseño y transporte sencillos y económicos</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/modules.svg" alt="" />
                  <span
                    >Instalación back-to-back o con salida. Espacio reducido de
                    instalación.</span
                  >
                </div>
                <div class="feature-item">
                  <img src="../assets/img/ups.svg" alt="" />
                  <span>Servicio de Atención Técnica</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="download-section">
        <div class="download-container">
          <div class="red-line"></div>
          <div class="download-info">
            <h2>Descargar Catálogo</h2>
          </div>
          <a href="#" class="download-button">Catálogo C&I</a>
        </div>
      </section>
      <section class="tech-service-container">
        <div class="tech-service-content">
          <div class="text-section">
            <h2 class="tech-title">Servicio de Asistencia Técnica propio</h2>
            <p class="tech-description">
              El SAT permite gestionar formación y servicio en tiempo real por
              nuestro propio equipo. Situado en España está accesible a todos
              nuestros Partners para asistirles en pasos y recomendaciones
              personalizadas.
            </p>
            <div class="features">
              <div class="feature">
                <h3 class="feature-title">Formación</h3>
                <p class="feature-description">
                  Formación a la medida del distribuidor, instalador o usuario
                  final.
                </p>
              </div>
              <div class="feature">
                <h3 class="feature-title">Gestión</h3>
                <p class="feature-description">
                  Gestión de incidencias en tiempo real en cualquier momento.
                </p>
              </div>
              <div class="feature">
                <h3 class="feature-title">Accesible</h3>
                <p class="feature-description">
                  Disponible para visitas con formación y exposición de
                  productos.
                </p>
              </div>
              <div class="feature">
                <h3 class="feature-title">Experiencia</h3>
                <p class="feature-description">
                  Nuestro equipo está formado por profesionales con experiencia
                  contrastada.
                </p>
              </div>
            </div>
          </div>
          <div class="image-section">
            <img
              src="../assets/img/chelion-app-.png"
              alt="Celular"
              class="phone-image"
            />
            <img
              src="../assets/img/solar-energy.jpg"
              alt="Paneles Solares"
              class="solar-image"
            />
          </div>
        </div>
      </section>
      <section class="chelion-container">
        <img
          src="../assets/img/chelion-c-i-123-scaled.jpg"
          alt="Imagen de coche blanco"
          class="chelion-image"
        />
      </section>
    </main>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <img
            class="logo-footer"
            src="../assets/img/logo-chelion-color.svg"
            alt="Logo Chelion"
          />
          <p class="copyright">© 2022 Chelion Iberia</p>
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">English</a></li>
            <li><a href="./chelion.html">Chelion</a></li>
            <li><a href="./almacenamiento-solar.html">Utility-Scale</a></li>
            <li><a href="./comercial-industrial.html">C & I</a></li>
            <li><a href="./residencial.html">Residencial</a></li>
            <li>
              <a href="./ingenieria-desarrollo.html">Desarrollo e ingenieria</a>
            </li>
            <li><a href="./contacto.html">Talento</a></li>
            <li><a href="#">Politica de privacidad</a></li>
            <li><a href="#">Politica de cookies (UE)</a></li>
            <li class="linkedin-li">
              <a href="https://www.linkedin.com/"
                ><img src="../assets/img/icons-linkedin-30.png" alt="linkedin"
              /></a>
            </li>
          </ul>
        </div>
        <div class="chelion-address-container">
          <p class="chelion-name">Chelion Iberia</p>
          <p class="chelion-address">
            C/José Echegaray 8, Ed 3. P11<br />Oficinas 8-9<br />28232 Las
            Rozas, Madrid (España)
          </p>
          <a href="mailto:info@chelion.eu">info@chelion.eu</a>
        </div>
        <div class="chelion-slogan-container">
          <div class="arrows-container">
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
          </div>
          <p>IT´S CHELION IT´S BESS</p>
        </div>
      </div>
    </footer>

    <!-- Dropdown menú -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const dropdownToggle = document.querySelector(".dropdown-toggle");
        const dropdownMenu = document.querySelector(".dropdown-menu");
        const navLinks = document.querySelectorAll(".nav a");

        dropdownToggle.addEventListener("click", function (e) {
          e.preventDefault();
          dropdownToggle.classList.toggle("active");
        });

        navLinks.forEach((link) => {
          link.addEventListener("click", function () {
            dropdownToggle.classList.remove("active");
          });
        });

        document.addEventListener("click", function (e) {
          if (
            !dropdownToggle.contains(e.target) &&
            !dropdownMenu.contains(e.target)
          ) {
            dropdownToggle.classList.remove("active");
          }
        });
      });
    </script>

    <!-- Dropdown menú flag -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const iconsButton = document.querySelector(".icons-button");
        const iconsMenu = document.querySelector(".icons-menu");

        iconsButton.addEventListener("click", function (e) {
          e.preventDefault();
          iconsButton.classList.toggle("active");
        });

        document.addEventListener("click", function (e) {
          if (
            !iconsButton.contains(e.target) &&
            !iconsMenu.contains(e.target)
          ) {
            iconsButton.classList.remove("active");
          }
        });
      });
    </script>

    <!-- Burger menú -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const burgerButton = document.getElementById("burgerButton");
        const burgerMenuDropdown =
          document.getElementById("burgerMenuDropdown");

        burgerButton.addEventListener("click", function (e) {
          e.preventDefault();
          burgerMenuDropdown.classList.toggle("active"); // Toggle the 'active' class
        });

        const burgerMenuLinks = document.querySelectorAll(
          ".burger-menu-dropdown a"
        );

        burgerMenuLinks.forEach((link) => {
          link.addEventListener("click", function () {
            burgerMenuDropdown.classList.remove("active");
          });
        });

        document.addEventListener("click", function (e) {
          if (
            !burgerButton.contains(e.target) &&
            !burgerMenuDropdown.contains(e.target)
          ) {
            burgerMenuDropdown.classList.remove("active");
          }
        });
      });
    </script>

    <!-- Header animation -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const logo = document.querySelector(".logo");
        const nav = document.querySelector(".nav");

        logo.style.animationDelay = "0.2s";
        nav.style.animationDelay = "0.2s";
      });
    </script>

    <!-- Info animation -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const gridItems = document.querySelectorAll(".grid-item");

        function handleScroll() {
          gridItems.forEach((item) => {
            const itemPosition = item.getBoundingClientRect().top;
            const screenPosition = window.innerHeight / 1.3;

            if (itemPosition < screenPosition) {
              item.style.transition =
                "transform 1s ease-out, opacity 1s ease-out";
              item.style.transform = "translateX(0)";
              item.style.opacity = "1";
            } else {
              item.style.transition =
                "transform 1s ease-out, opacity 1s ease-out";
              item.style.transform = "translateX(100%)";
              item.style.opacity = "0";
            }
          });
        }

        window.addEventListener("scroll", handleScroll);
        handleScroll();
      });
    </script>

    <!-- Products grid animation -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const productContainers =
          document.querySelectorAll(".product-container");

        function handleScroll() {
          productContainers.forEach((container) => {
            const itemPosition = container.getBoundingClientRect().top;
            const screenPosition = window.innerHeight / 1.3;

            if (itemPosition < screenPosition) {
              container.style.transition = "opacity 1s ease-out";
              container.style.opacity = "1";

              const leftImage = container.querySelector(
                ".product-image-container"
              );
              const rightImage = container.querySelector(
                ".product-image-container-right"
              );

              if (leftImage) {
                leftImage.style.transition =
                  "transform 1s ease-out, opacity 1s ease-out";
                leftImage.style.transform = "translateX(0)";
                leftImage.style.opacity = "1";
              }

              if (rightImage) {
                rightImage.style.transition =
                  "transform 1s ease-out, opacity 1s ease-out";
                rightImage.style.transform = "translateX(0)";
                rightImage.style.opacity = "1";
              }
            }
          });
        }

        window.addEventListener("scroll", handleScroll);
        handleScroll();
      });
    </script>

    <!-- Download catalogue -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const downloadButton = document.querySelector(".download-button");

        downloadButton.addEventListener("click", function () {
          const link = document.createElement("a");
          link.href = "../utils/c-i.pdf"; // Adjust the path if necessary
          link.download = "c-i.pdf";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        });
      });
    </script>

    <!-- Tech service animation -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const phoneImage = document.querySelector(".phone-image");

        function handleScroll() {
          const windowWidth = window.innerWidth;

          if (windowWidth > 576) {
            const itemPosition = phoneImage.getBoundingClientRect().top;
            const screenPosition = window.innerHeight / 1.3;

            if (itemPosition < screenPosition) {
              phoneImage.style.transition =
                "transform 1s ease-out, opacity 1s ease-out";
              phoneImage.style.transform = "translateY(0)";
              phoneImage.style.opacity = "1";
            } else {
              phoneImage.style.transition =
                "transform 1s ease-out, opacity 1s ease-out";
              phoneImage.style.transform = "translateY(-100%)";
              phoneImage.style.opacity = "0";
            }
          } else {
            phoneImage.style.transition = "";
            phoneImage.style.transform = "translateY(0)";
            phoneImage.style.opacity = "1";
          }
        }

        window.addEventListener("scroll", handleScroll);
        window.addEventListener("resize", handleScroll);
        handleScroll();
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const industryCards = document.querySelectorAll(".industry-card");

        function handleScroll() {
          industryCards.forEach((card) => {
            const cardPosition = card.getBoundingClientRect().top;
            const screenPosition = window.innerHeight / 1.3;

            if (cardPosition < screenPosition) {
              card.style.opacity = "1";
              card.style.transform = "translateX(0)";
            }
          });
        }

        window.addEventListener("scroll", handleScroll);
        handleScroll(); // Run on load in case elements are already in view
      });
    </script>
  </body>
</html>
l
