<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>Residencial - Chelion</title>
    <link rel="stylesheet" href="../css/residencial-styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/index.html">
          <img src="../assets/img/logo-chelion-color.svg" alt="Chelion Logo" />
        </a>
        <a href="./chelion.html" class="brand-name">Chelion</a>
      </div>
      <nav class="nav">
        <button class="dropdown-toggle">Sectores</button>
        <div class="dropdown-menu">
          <a href="./almacenamiento-solar.html">Almacenamiento Solar</a>
          <a href="./comercial-industrial.html">C & I</a>
          <a href="./residencial.html">Residencial</a>
        </div>
        <a href="./ingenieria-desarrollo.html">Desarrollo e Ingeniería</a>
        <a href="./productos-pv.html">Productos PV</a>
        <a href="./contacto.html">Talento</a>
        <a href="./distribuidores.html">Pedidos</a>
        <a href="./soporte-tecnico.html">Soporte técnico</a>
        <img src="../assets/img/icons8-british-flag-48.png" alt="Language" />
      </nav>
      <div class="icons-dropdown">
        <img
          src="../assets/img/icons8-flag-24.png"
          alt="Support"
          class="icons-button"
        />
        <div class="icons-menu">
          <a href="https://chelion.com.au/">Australia</a>
          <a href="https://www.chelion.us/">EE:UU</a>
          <a href="https://www.chelion.jp/">Japón</a>
          <a href="https://www.chelion.com/en_index.html">China</a>
          <a href="https://www.chelion.gr/">Grecia</a>
        </div>
      </div>
      <button id="burgerButton" class="burger-button">☰</button>
      <div class="burger-menu-dropdown" id="burgerMenuDropdown">
        <a href="./chelion.html">Chelion</a>
        <a href="./almacenamiento-solar.html">Almacenamiento Solar</a>
        <a href="./comercial-industrial.html">C & I</a>
        <a href="./residencial.html">Residencial</a>
        <a href="./ingenieria-desarrollo.html">Desarrollo e Ingeniería</a>
        <a href="./productos-pv.html">Productos PV</a>
        <a href="./contacto.html">Talento</a>
        <a href="./distribuidores.html">Pedidos</a>
        <a href="./soporte-tecnico.html">Soporte técnico</a>
        <a href="https://chelion.com.au/">Australia</a>
        <a href="https://www.chelion.us/">EE:UU</a>
        <a href="https://www.chelion.jp/">Japón</a>
        <a href="https://www.chelion.com/en_index.html">China</a>
        <a href="https://www.chelion.gr/">Grecia</a>
      </div>
    </header>
    <main>
      <section class="hero">
        <div class="hero-container">
          <h1>ALMACENAMIENTO DE ENERGÍA PARA AUTOCONSUMO</h1>
          <p>Gestión eficiente de la energía para aumentar su rendimiento.</p>
        </div>
      </section>
      <section class="autoconsumo-container">
        <div class="autoconsumo-content">
          <div class="text-section">
            <h2 class="autoconsumo-title">AUTOCONSUMO</h2>
            <div class="text-item">
              <h3 class="text-title">GENERADOR ENERGÍA</h3>
              <p class="text-description">
                La energía captada por una instalación fotovoltaica o eólica,
                así como la obtenida de la Red Eléctrica.
              </p>
            </div>
            <div class="text-item">
              <h3 class="text-title">INVERSOR</h3>
              <p class="text-description">
                La energía se transforma en corriente alterna.
              </p>
            </div>
            <div class="text-item">
              <h3 class="text-title">BATERÍA</h3>
              <p class="text-description">
                Almacena la energía para emplearla posteriormente.
              </p>
            </div>
            <div class="text-item">
              <h3 class="text-title">MONITORIZACIÓN</h3>
              <p class="text-description">
                Información de la instalación en tiempo real en el Sistema de
                Gestión Propio.
              </p>
            </div>
          </div>
          <div class="image-section">
            <img
              src="../assets/img/istock-1341414223.jpg"
              alt="Generador de Energía"
              class="generator-image"
            />
            <img
              src="../assets/img/artboard.jpg"
              alt="Diagrama de Circuito"
              class="diagram-image"
            />
          </div>
        </div>
      </section>
      <section class="how-it-works-section-container">
        <div class="how-it-works-image-section">
          <img
            src="../assets/img/contacto-backgroundimage.jpg"
            alt="Modern House"
            class="how-it-works-house-image"
          />
        </div>
        <div class="how-it-works-text-section">
          <div class="how-it-works-text-content">
            <h2 class="how-it-works-section-title">¿Cómo funciona?</h2>
            <h3 class="how-it-works-sub-title">Autoconsumo</h3>
            <p class="how-it-works-description">
              Consumo de energía proveniente de instalaciones de producción
              pertenecientes a las mismas, minimizando el gasto en electricidad
              de la Red. El Sistema de Almacenamiento de Energía permite recoger
              la energía durante el horario óptimo de generación (luz solar o
              viento) para poder emplearlo posteriormente cuando disminuya dicha
              generación (de noche o en ausencia de viento).
            </p>
            <p class="how-it-works-description">
              Los software de Gestión de la Energía (EMS) permiten conocer en
              todo momento el consumo demandado y redistribuirlo para poder
              aplanar la curva de consumo o almacenarlo para aumentar su
              rendimiento.
            </p>
            <p class="how-it-works-description">
              Nuestros sistemas también pueden configurarse para cargar las
              baterías desde la red en las horas de menor consumo, cuando las
              tarifas son más asequibles y descargarlas en las horas de mayor
              consumo, cuando las tarifas son menos favorables.
            </p>
            <h3 class="how-it-works-sub-title">Energía de respaldo</h3>
            <p class="how-it-works-description">
              El sistema de respaldo residencial protege el hogar de las
              interrupciones energéticas, especialmente cuando se combina con un
              sistema solar fotovoltaico. Ya sea para respaldar sólo las cargas
              esenciales o todos los electrodomésticos, así como para añadir una
              copia de seguridad al sistema fotovoltaico existente o de nueva
              instalación.
            </p>
          </div>
        </div>
      </section>
      <section class="products-section">
        <div class="product-container">
          <div class="product-info-container-left">
            <div class="product-title">
              <h2>iHome-S-HD1H01 Series</h2>
            </div>
            <div class="product-description">
              <p>
                Solución all in one e hibrida para el mercado residencial. Las
                baterías están construidas en base a un convertidor DC/DC lo que
                permite mayor flexibilidad y facilidad en la configuración del
                sistema. Permite mezclar baterías actuales con baterías que
                hayan sido reemplazadas por otras nuevas, sin que se vea
                afectado su funcionamiento.
              </p>
              <hr />
              <div class="product-features">
                <div class="feature-item">
                  <img src="../assets/img/finger-snap.svg" alt="" />
                  <span>EMS incorporado. Opción de BACK UP.</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/recycling.svg" alt="" />
                  <span>Mayor duración</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/metrics.svg" alt="" />
                  <span
                    >LFP seguro y estable. Aislamiento eléctrico. AFCI avanzado
                    y detección de fugas.</span
                  >
                </div>
                <div class="feature-item">
                  <img src="../assets/img/three-way-direction.svg" alt="" />
                  <span>Funciona durante los cortes de luz</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/ups.svg" alt="" />
                  <span>Suministro de energía contínuo</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/safety.svg" alt="" />
                  <span>Servicio de Asistencia Técnica</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/modules.svg" alt="" />
                  <span>Sistema modular. Fácil y rápido.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="product-image-container-right">
            <img
              src="../assets/img/ihome-s-hd1h01-series.png"
              alt="Producto"
              class="product-image"
            />
          </div>
        </div>
        <div class="product-container">
          <div class="product-image-container">
            <img
              src="../assets/img/ihomekit.png"
              alt="Producto"
              class="product-image"
            />
          </div>
          <div class="product-info-container">
            <div class="product-title">
              <h2>iHome-INV-L1H04 Series</h2>
            </div>
            <div class="product-description">
              <p>
                Inversor híbrido preparado para integrar fotovoltaica, baterías
                y generadores eléctricos para sistemas on-grid y off-grid.
              </p>
              <hr />
              <div class="product-features">
                <div class="feature-item">
                  <img src="../assets/img/three-way-direction.svg" alt="" />
                  <span>Funcionamiento SAI integrada con 4 ms.</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/pulse.svg" alt="" />
                  <span>Batería con una larga vida útil</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/modules.svg" alt="" />
                  <span>Fácil instalación y ampliación de la capacidad.</span>
                </div>
                <div class="feature-item">
                  <img src="../assets/img/ups.svg" alt="" />
                  <span>Servicio de Atención Técnica</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="ems-section-container">
        <div class="ems-group">
          <div class="ems-text-section">
            <div class="ems-text-content">
              <h2 class="ems-section-title">Chelion EMS Residencial</h2>
              <h3 class="ems-sub-title">
                Sistema de almacenamiento de energía residencial trifásico de
                alta tensión
              </h3>
              <p class="ems-description">
                El EMS residencial de Chelion es un sistema inteligente integral
                diseñado para controlar las variables y cumplir los objetivos de
                consumo eléctrico o financiero. Un plan de energía a medida
                optimizará automáticamente el rendimiento del sistema para
                alcanzar los objetivos definidos por el usuario y distribuir los
                recursos del sistema.
              </p>
            </div>
          </div>
          <div class="ems-image-section">
            <img
              src="../assets/img/ems-residencial.jpg"
              alt="Modern House"
              class="ems-house-image"
            />
          </div>
        </div>
        <div class="energy-objectives-section">
          <div class="energy-objectives-container">
            <div class="energy-column">
              <p class="energy-text">
                Objetivos energéticos y periodos de tiempo definidos por el
                usuario.
              </p>
              <p class="energy-text">
                Conectado a una amplia gama de módulos e infraestructuras
                existentes.
              </p>
              <p class="energy-text">
                Rendimiento optimizado mediante el uso de datos locales y de big
                data.
              </p>
            </div>
            <div class="energy-column">
              <p class="energy-text">
                Adaptación inteligente del perfil energético para identificar
                oportunidades de ahorro.
              </p>
              <p class="energy-text">
                Recomendaciones automáticas para mejorar la longevidad y
                rentabilidad.
              </p>
              <p class="energy-text">Sistema de Gestión Inteligente.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="download-section">
        <div class="download-container">
          <div class="red-line"></div>
          <div class="download-info">
            <h2>Descargar Catálogo</h2>
          </div>
          <a href="#" class="download-button">Catálogo Residencial</a>
        </div>
      </section>
      <section class="chelion-container">
        <img
          src="../assets/img/resschelion.jpg"
          alt="home-chelion"
          class="chelion-image"
        />
      </section>
      <section class="energy-solutions-section">
        <div class="energy-solutions-content">
          <p class="energy-solutions-text">
            Soluciones para el uso doméstico mejorando la gestión e
            independencia energética
          </p>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <img
            class="logo-footer"
            src="../assets/img/logo-chelion-color.svg"
            alt="Logo Chelion"
          />
          <p class="copyright">© 2022 Chelion Iberia</p>
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">English</a></li>
            <li><a href="./chelion.html">Chelion</a></li>
            <li><a href="./almacenamiento-solar.html">Utility-Scale</a></li>
            <li><a href="./comercial-industrial.html">C & I</a></li>
            <li><a href="./residencial.html">Residencial</a></li>
            <li>
              <a href="./ingenieria-desarrollo.html">Desarrollo e ingenieria</a>
            </li>
            <li><a href="./contacto.html">Talento</a></li>
            <li><a href="#">Politica de privacidad</a></li>
            <li><a href="#">Politica de cookies (UE)</a></li>
            <li class="linkedin-li">
              <a href="https://www.linkedin.com/"
                ><img src="../assets/img/icons-linkedin-30.png" alt="linkedin"
              /></a>
            </li>
          </ul>
        </div>
        <div class="chelion-address-container">
          <p class="chelion-name">Chelion Iberia</p>
          <p class="chelion-address">
            C/José Echegaray 8, Ed 3. P11<br />Oficinas 8-9<br />28232 Las
            Rozas, Madrid (España)
          </p>
          <a href="mailto:info@chelion.eu">info@chelion.eu</a>
        </div>
        <div class="chelion-slogan-container">
          <div class="arrows-container">
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
            <img
              class="arrows"
              src="../assets/img/icons8-down-arrow-64.png"
              alt="arrows"
            />
          </div>
          <p>IT´S CHELION IT´S BESS</p>
        </div>
      </div>
    </footer>

    <!-- Dropdown menú -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const dropdownToggle = document.querySelector(".dropdown-toggle");
        const dropdownMenu = document.querySelector(".dropdown-menu");
        const navLinks = document.querySelectorAll(".nav a");

        dropdownToggle.addEventListener("click", function (e) {
          e.preventDefault();
          dropdownToggle.classList.toggle("active");
        });

        navLinks.forEach((link) => {
          link.addEventListener("click", function () {
            dropdownToggle.classList.remove("active");
          });
        });

        document.addEventListener("click", function (e) {
          if (
            !dropdownToggle.contains(e.target) &&
            !dropdownMenu.contains(e.target)
          ) {
            dropdownToggle.classList.remove("active");
          }
        });
      });
    </script>

    <!-- Dropdown menú flag -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const iconsButton = document.querySelector(".icons-button");
        const iconsMenu = document.querySelector(".icons-menu");

        iconsButton.addEventListener("click", function (e) {
          e.preventDefault();
          iconsButton.classList.toggle("active");
        });

        document.addEventListener("click", function (e) {
          if (
            !iconsButton.contains(e.target) &&
            !iconsMenu.contains(e.target)
          ) {
            iconsButton.classList.remove("active");
          }
        });
      });
    </script>

    <!-- Burger menú -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const burgerButton = document.getElementById("burgerButton");
        const burgerMenuDropdown =
          document.getElementById("burgerMenuDropdown");

        burgerButton.addEventListener("click", function (e) {
          e.preventDefault();
          burgerMenuDropdown.classList.toggle("active"); // Toggle the 'active' class
        });

        const burgerMenuLinks = document.querySelectorAll(
          ".burger-menu-dropdown a"
        );

        burgerMenuLinks.forEach((link) => {
          link.addEventListener("click", function () {
            burgerMenuDropdown.classList.remove("active");
          });
        });

        document.addEventListener("click", function (e) {
          if (
            !burgerButton.contains(e.target) &&
            !burgerMenuDropdown.contains(e.target)
          ) {
            burgerMenuDropdown.classList.remove("active");
          }
        });
      });
    </script>

    <!-- Header animation -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const logo = document.querySelector(".logo");
        const nav = document.querySelector(".nav");

        logo.style.animationDelay = "0.2s";
        nav.style.animationDelay = "0.2s";
      });
    </script>

    <!-- Self-consumption animation -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const textSection = document.querySelector(".text-section");
        const imageSection = document.querySelector(".image-section");

        function handleScroll() {
          const textSectionPosition = textSection.getBoundingClientRect().top;
          const imageSectionPosition = imageSection.getBoundingClientRect().top;
          const screenPosition = window.innerHeight / 1.3;

          if (textSectionPosition < screenPosition) {
            textSection.style.transition =
              "transform 1s ease-out, opacity 1s ease-out";
            textSection.style.transform = "translateX(0)";
            textSection.style.opacity = "1";
          } else {
            textSection.style.transition =
              "transform 1s ease-out, opacity 1s ease-out";
            textSection.style.transform = "translateX(-100%)";
            textSection.style.opacity = "0";
          }

          if (imageSectionPosition < screenPosition) {
            imageSection.style.transition =
              "transform 1s ease-out, opacity 1s ease-out";
            imageSection.style.transform = "translateX(0)";
            imageSection.style.opacity = "1";
          } else {
            imageSection.style.transition =
              "transform 1s ease-out, opacity 1s ease-out";
            imageSection.style.transform = "translateX(100%)";
            imageSection.style.opacity = "0";
          }
        }

        window.addEventListener("scroll", handleScroll);
        handleScroll(); // Para ejecutar la función al cargar la página
      });
    </script>

    <!-- Products grid animation -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const productContainers =
          document.querySelectorAll(".product-container");

        function handleScroll() {
          productContainers.forEach((container) => {
            const itemPosition = container.getBoundingClientRect().top;
            const screenPosition = window.innerHeight / 1.3;

            if (itemPosition < screenPosition) {
              container.style.transition = "opacity 1s ease-out";
              container.style.opacity = "1";

              const leftImage = container.querySelector(
                ".product-image-container"
              );
              const rightImage = container.querySelector(
                ".product-image-container-right"
              );

              if (leftImage) {
                leftImage.style.transition =
                  "transform 1s ease-out, opacity 1s ease-out";
                leftImage.style.transform = "translateX(0)";
                leftImage.style.opacity = "1";
              }

              if (rightImage) {
                rightImage.style.transition =
                  "transform 1s ease-out, opacity 1s ease-out";
                rightImage.style.transform = "translateX(0)";
                rightImage.style.opacity = "1";
              }
            }
          });
        }

        window.addEventListener("scroll", handleScroll);
        handleScroll();
      });
    </script>

    <!-- EMS animation -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const houseImage = document.querySelector(".ems-house-image");

        function handleScroll() {
          const imagePosition = houseImage.getBoundingClientRect().top;
          const screenPosition = window.innerHeight / 1.3;

          if (imagePosition < screenPosition) {
            houseImage.style.transition = "transform 0.7s ease-in-out";
            houseImage.style.transform = "scale(1.1)";
          } else {
            houseImage.style.transition = "none";
            houseImage.style.transform = "scale(1)";
          }
        }

        window.addEventListener("scroll", handleScroll);
        handleScroll(); // Para ejecutar la función al cargar la página
      });
    </script>

    <!-- Download catalogue -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const downloadButton = document.querySelector(".download-button");

        downloadButton.addEventListener("click", function () {
          const link = document.createElement("a");
          link.href = "../utils/residencial.pdf"; // Adjust the path if necessary
          link.download = "residencial.pdf";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        });
      });
    </script>
  </body>
</html>
